/* ==================== Globals ==================== */
@import url('https://fonts.googleapis.com/css?family=DynaPuff&display=swap');
$formWidth: 44em;
$inputWidth: 38em;
a {
  text-decoration: none !important; 
  flex-grow: 4;
}
/* ==================== Globals ==================== */

/* ==================== Appointments date selection ==================== */

.pContainer {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
}

.calendarContainer {
  display: flex;
  flex-direction: column;
  justify-content: start !important;
  min-width: 50%;
  height: calc(100vh - 71.8px);
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

// .selectedDate {
//   flex-grow: 2 !important;
//   width: 100%;
//   align-content: center;
// }

.nice-dates-navigation_previous {
  z-index: 100 !important;
}

.nice-dates-navigation_next {
  z-index: 100 !important;
}

.nice-dates-navigation_current {
  font-size: 23px !important;
}

.nice-dates-navigation {
  height: 5em !important;
  color: blue;
  z-index: 100 !important;
  background-color: white;
}

.nice-dates-week-header {
  z-index: 100 !important;
  background-color: white !important;
}

.nice-dates-grid {
  overflow: visible !important;
  z-index: 1 !important; 
}

.nice-dates-grid_container {
  height: 100vh !important;
  margin: auto;
  gap: 1px 0 !important;
  z-index: 1 !important; 
}

.nice-dates-day::before {
  margin: auto;
  max-width: 4em;
  max-height: 4em;
  border: 1.5px solid #1976d2 !important;
  background-color: unset !important;
  padding: 3em !important;
  z-index: 1 !important; 
}

.nice-dates-day::after {
  margin: auto;
  max-width: 4em !important; 
  max-height: 4em !important;
  padding: 3em !important;
  border: 1.5px solid #1976d2 !important;
  background-color: unset !important;
  z-index: 1 !important; 
}

.nice-dates-day {
  background-color: unset !important;
  border-color: #1976d2;
}

.nice-dates-day.-selected:not(:hover) *, .nice-dates-day.-selected.-disabled * {
  font-weight: bolder;
  color: #1976d2 !important;
}

/* ==================== Appointments Date Selection ==================== */

/* ==================== Appointment Form Page ==================== */
// Form - Containers
.appointment-form {
  padding-top: 1%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment-form-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2em 0 2em;
}

.appointments-heading {
  font-size: 2.5rem !important;
  padding-bottom: 1rem;
}

// Form - selection dropdowns
.selection-container {
  min-width: $formWidth;
  flex-direction: row !important;
  justify-content: center;
  gap: 1em;
}

.select-class {
  width: 12em;
}

.AppointmentFormContainer {
  display: flex;
  flex-direction: row;
}

.AppointmentFormImage {
  img {
    height: calc(100vh - 71.8px);
  }
  div {
    height: calc(100vh - 71.8px);
  }
}

// Form - inputs
.client-info-inputs {
  display: flex;
  flex-direction: column;
}

.client-info-inputs > input {
  min-width: $inputWidth;
}

// Form - submit btn
.appointment-form form a {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 20px;
  letter-spacing: 4px
}

.appointment-form a:hover {
  background: #1976d2;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 1px #1976d2,
  0 0 5px #1976d2,
  0 0 5px #1976d2,
  0 0 50px #1976d2;
}

.submit-button {
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

// Form - timeslots
.timeslot-container {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  gap: 1em;
  flex-flow: wrap;
  width: $formWidth;
  margin: 1.5em 0;
}

.timeslot {
  width: 6em;
  flex-basis: auto
}
/* ==================== Appointment Form Page ==================== */

/* ==================== Massage Parlor Selection List ==================== */

.locationContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px !important;
}

.delRosaMassage {
  height: 100%;
  border-radius: 2px;
  background-image: url("https://source.unsplash.com/random/200x200?sig=1");
  background-size: cover;
  opacity: 0.9;
}

.delRosaMassage::before {
  content: "";
  color: white;
  transition: 0.4s ease-in-out;
  z-index: 2;
  align-content: center;
  margin: auto;
}

.delRosaMassage:hover::before {
  content: "Del Rosa Massage";
  color: white;
  font-size: 2em;
  font-family: 'DynaPuff', cursive;
  transition: 0.4s ease-in;
  z-index: 2;
  background-size: cover;
}

.delRosaMassage:hover {
  transition: 0.6s ease-in;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(30, 1, 1, 0.5)), url("https://source.unsplash.com/random/200x200?sig=1");
}

.asterMassage {
  height: 100%;
  border-radius: 2px;
  background-image: url("https://source.unsplash.com/random/200x200?sig=1");
  background-size: cover;
  opacity: 0.9;
}

.asterMassage::before {
  content: "";
  color: white;
  transition: 0.4s ease-in-out;
  z-index: 2;
  align-content: center;
  margin: auto;
}

.asterMassage:hover::before {
  content: "Aster Massage";
  color: white;
  font-size: 2em;
  font-family: 'DynaPuff', cursive;
  transition: 0.4s ease-in;
  z-index: 2;
  background-size: cover;
}

.asterMassage:hover {
  transition: 0.6s ease-in;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(30, 1, 1, 0.5)), url("https://source.unsplash.com/random/200x200?sig=1");
}

/* ==================== Massage Parlor Selection List ==================== */