/* appointments box wrapper */
$formWidth: 500px;

.login-box {
  padding-top: 2%;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointments-heading {
  font-size: 2.5rem !important;
  padding-bottom: 1em;
}

.timeslot-container {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  gap: 1em;
  flex-flow: wrap;
  width: $formWidth;
}

.timeslot {
  width: 6em;
  flex-basis: auto
}

/* user inputs */

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: $formWidth;
  padding: 8px 0;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  width: $formWidth;
  position: absolute;
  bottom: 0.8rem;
  left: 0;
  padding: 10px 5px;
  font-style: italic;
  font-weight: 100 !important;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~.input-label {
  display: none;
}

/* submit btn */

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 20px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: mediumpurple;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 1px mediumpurple,
  0 0 5px mediumpurple,
  0 0 5px mediumpurple,
  0 0 50px mediumpurple;
}

.submit-button {
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.pContainer {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
}

.locationContainer {
  height: 85vh;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px !important;
}

.calendarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  min-width: 50%;
  max-height: 85vh;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.nice-dates-navigation {
  height: 5em !important;
  color: blue;
  padding: 2em 0 2em 0;
}

.nice-dates-grid_container {
  margin: auto;
  gap: 1px 0 !important;
}

.nice-dates-day::before {
  margin: auto;
  max-width: 4em;
  max-height: 4em;
  border: 1px solid mediumpurple !important;
  background-color: unset !important;
  padding: 2em !important;
}

.nice-dates-day::after {
  margin: auto;
  max-width: 4em !important; 
  max-height: 4em !important;
  border: 1px solid mediumpurple !important;
  background-color: unset !important;
}

.nice-dates-day {
  background-color: unset !important;
  border-color: mediumpurple;
}

.nice-dates-day.-selected:not(:hover) *, .nice-dates-day.-selected.-disabled * {
  font-weight: bolder;
  color: #8036ca !important;
}

/* mixins */

@mixin animationNumber($num) {
  width: 100%;
  @if $num == 0 {
    top: 0;
    left: -100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, black);
    @keyframes btn-anim#{$num + 1} {
      0% {
        left: -100%;
      }
      50%,100% {
        left: 100%;
      }
    }
  } @else if $num == 1 {
    top: -100%;
    right: 0;
    width: 2px;
    background: linear-gradient(180deg, transparent, black);
    @keyframes btn-anim#{$num + 1} {
      0% {
        top: -100%;
      }
      50%,100% {
        top: 100%;
      }
    }
  } @else if $num == 2 {
    bottom: 0;
    right: -100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, black);
    @keyframes btn-anim#{$num + 1} {
      0% {
        right: -100%;
      }
      50%,100% {
        right: 100%;
      }
    }
  } @else if $num == 3 {
    bottom: -100%;
    left: 0;
    width: 2px;
    background: linear-gradient(360deg, transparent, black);
    @keyframes btn-anim#{$num + 1} {
      0% {
        bottom: -100%;
      }
      50%,100% {
        bottom: 100%;
      }
    }
  }
}