.intro-image {
  width: 100%;
  height: auto;
}
.intro-image-absolute {
  max-width: none;
  padding: 0;
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: -80px;
    left: -50px;
    width: 900px;
    height: 500px;
  }
  @include media-breakpoint-up(lg) {
    bottom: -90px;
    left: -60px;
    width: 900px;
    height: 550px;
  }
  @include media-breakpoint-up(xl) {
    bottom: -130px;
    left: -70px;
    width: 900px;
    height: 600px;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
